<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" href="/css/categories.css">
</head>
<body>
<a href="/category/add">Add Category</a>
<a href="/">home</a>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td th:text="${category.description}"></td>
        <td>
            <form th:action="@{/category/delete}" method="post">
                <input type="hidden" name="categoryId" th:value="${category.id}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>
<p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red"></p>
<p th:if="${infoMessage}" th:text="${infoMessage}" style="color: grey"></p>

</body>
</html>