<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Members Details</title>
    <link rel="stylesheet" href="/css/member-details.css">
</head>
<body>
<a href="/member/add">Add Member</a>
<a href="/members">Members</a>
<a href="/">home</a>
<div>
    <table border="1">
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Registration Date</th>
            <th>Borrowed Books</th>
        </tr>
        <tr>
            <td th:text="${member.fullName}"></td>
            <td th:text="${member.email}"></td>
            <td th:text="${member.phone}"></td>
            <td th:text="${member.registrationDate}"></td>
            <td th:text="${member.borrowedBooks.size()}"></td>
        </tr>

    </table>


    <h3>Borrowed Books</h3>

    <table border="1">
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Author</th>
            <th>Action</th>
        </tr>
        <tr th:each="book : ${member.borrowedBooks}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.category.name}"></td>
            <td th:text="${book.author.name}"></td>
            <td>
                <form th:action="@{/memberBook/delete}" method="post">
                    <input type="hidden" name="memberId" th:value="${member.id}">
                    <input type="hidden" name="bookId" th:value="${book.id}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>

    </table>
</div>

<div>
    <h3>Borrow a Book</h3>

    <form method="get" th:action="@{/membersDetails}">
        <input type="hidden" name="id" th:value="${member.id}">

        <input type="text"
               name="keyword"
               placeholder="Search by title or author"
               th:value="${keyword}">

        <button type="submit">Search</button>
    </form>

    <table border="1" th:if="${searchAvailableBooks != null and !searchAvailableBooks.isEmpty()}">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Action</th>
        </tr>

        <tr th:each="book : ${searchAvailableBooks}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author.name + ' ' + book.author.surname}"></td>
            <td>
                <form th:action="@{/memberBook/borrow}" method="post">
                    <input type="hidden" name="memberId" th:value="${member.id}">
                    <input type="hidden" name="bookId" th:value="${book.id}">
                    <button type="submit">Borrow</button>
                </form>
            </td>
        </tr>
    </table>
    <p th:if="${infoMessage}" th:text="${infoMessage}" style="color:gray"></p>
    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red"></p>
    <p th:if="${successMessage}" th:text="${successMessage}" style="color:blue"></p>

    <h3>Available Books</h3>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
        <tr th:each="book : ${availableBooks}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author.name}"></td>
        </tr>
    </table>
</div>

</body>
</html>